.footer {
	position: fixed;
	bottom: 0;
	left: 0;

	width: 100vw;

	background: var(--secondary-bg);
	border-top: 2px solid var(--border-color);

	z-index: 100;
}

.footer__container {
	display: flex;
	align-items: center;

	height: 6rem;
	width: 90%;
	max-width: var(--container-width);
	margin: 0 auto;

	& .made__by {
		display: inline-block;

		background: var(--accent);
		border: 2px solid var(--border-color);

		color: black;

		font-size: 1.5rem;
		font-weight: bold;
		padding: 0.7rem 1.5rem;
		outline: none;
		box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);

		& a {
			color: black;
			text-transform: uppercase;
			font-weight: bold !important;
		}
	}
}
